.main_body__content_area__gallery {
  padding: 1rem;
}

.gallery__list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: stretch;

  li {
    justify-self: stretch;
    p {
      line-height: inherit;
      margin-bottom: 0;
      font-size: 0;
      display: contents;
      display: inline;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .gallery__list__double_image {
    grid-column: span 2;
  }

  .blue-overlay {
    position: relative;
    &:after {
      position: absolute;
      content:"";
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:.5;
      background-color: $secondary-color;
    }

  }

}
