// Nav - Navigation below header
nav {
  position: fixed;
  width: 100%;
  margin:0;
  padding: 0;
}

#home {
  nav.sticky_nav {
    height: 128px;
    position: relative;
  }
}

#main__nav_ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: center;
  text-align: center;


  background-color: $primary-color;
  opacity: 0.8;
  margin:0;
  padding: 0;


  li {
    padding: 1rem 0;
    background: $primary-color;

    &:hover {
      background: $white;
      border-radius: 50%;
      a {
        color: $primary-color;

      }
    }
    &.nav__logo:hover {
      padding: 0;
      margin: 1rem 0;
    }
  }

  a {
    color: $white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }




  img {
    max-width: 10rem;
  }

}


// .is-stuck {
//
// }
