// Nav - Navigation below header
nav {
  position: fixed;
  width: 100%;
  margin:0;
  padding: 0;
  font-family: $header-font-family;
  background: $secondary-color;
  opacity: 0.8;
  color: $dark-black;
  z-index: 10;


  .mobile_nav__base {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  img {
    max-width: 8rem;
    @include breakpoint(small) {
      max-width: 10rem;
    }
  }

  .mobile_nav__base {
    height: 108px;
    margin: 0 .5rem -.5rem .5rem;
    @include breakpoint(medium) {
      height: 0;
    }

  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
  }


  .nav__logo__mobile {
    place-self: center start;

    display: block;
    /* Hide the link that should open and close the topnav on small screens */
    @include breakpoint(medium) {
      display: none;
    }

  }

  .main_nav__mobile_menu {
    font-size: 1.5rem;
    justify-self: end;
    place-self: center end;
    button {
      color: $white;
      display: block;
      &.yellow {
        color: $dark-black;
      }
      &:hover {
        color: $dark-black;
        cursor: pointer;
      }
      /* Hide the link that should open and close the topnav on small screens */
      @include breakpoint(medium) {
        display: none;
      }

      .main_nav__mobile_menu_arrows, .main_nav__mobile_menu_close {
        width: 27px;
      }
      .main_nav__mobile_menu_arrows {
        transform: rotate(90deg);
      }
    }

  }

}
/* end nav */

  #home {
    nav.main_nav {
      height: 108px;
      position: relative;
    }
  }

  #main__nav_ul {

    display: none;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    opacity: 0.9;
    margin:.5rem 0 0 0;
    padding: 0;
    text-align: right;
    justify-content: end;

    &.responsive {
      display: grid;
    }

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: stretch;
      align-items: center;
      text-align: center;
      justify-content: space-around;
    }


    li {
      padding: .4rem .7rem;
      background-color: orange;
      @include breakpoint(small only) {
        width: 12rem;
      }
      @include breakpoint(medium) {
        background-color: transparent;
      }

      a {
        color: $dark-black;
        @include breakpoint(medium) {
          color: $white;
        }
        text-decoration: none;
        &:hover {
          opacity: 1;
          color:#0a3055;
          @include breakpoint(medium) {
            color: $dark-black;
          }
          text-decoration: underline;
        }
      }
      &.nav__logo {
        display: none;
        @include breakpoint(medium) {
          display: block;
        }
        &__mobile {
          display: block;
          @include breakpoint(medium) {
            display: none;
          }
        }
      }

    }

    a {
      color: $white;
      font-size: 1.75rem;
      letter-spacing: .1rem;
      text-transform: uppercase;

    }


  }
