// Nav - Navigation below header
nav {
  position: fixed;
  width: 100%;
  margin:0;
  padding: 0;
}

#home {
  nav.sticky_nav {
    height: 108px;
    position: relative;
  }
}

#main__nav_ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: center;
  text-align: center;


  background-color: $primary-color;
  opacity: 0.8;
  margin:0;
  padding: 0;


  li {
    padding: .4rem 0;
    background: $primary-color;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &.nav__logo:hover {
      padding: 0;
      margin: .4rem 0;
    }
  }

  a {
    color: $white;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: $header-font-family;
  }




  img {
    max-width: 10rem;
  }

}


// .is-stuck {
//
// }
