// Sitemap
#sitemap {
  ul > li {
    margin-bottom: 1rem;
  }
}


// Subpage top image
.main__top_image {
  img {
    min-height: 300px;
    width: 100vw;
  }

  figcaption {
    font-size: small;
    font-style: italic;
  }
}


// Main content area
.main__body {
  margin-top:1.8rem;
}

.main_body__content_area {
  padding: 1rem 20% 2rem 20%;

  &#video_container {
    background: $success-color;
    text-align: center;
    z-index: 0;
    color: $white;
    h4 {
      padding-top: 1rem;
      display: block;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: $white;
      &:hover {
        color: $dark-black;
      }
    }
  }

}

// Individual subpage code
#courses {
  img {
    width: 50%;
  }
  img.image__width_40 {
    width: 40%;
  }
}
