// Sitemap
#sitemap {
  ul > li {
    margin-bottom: 1rem;
  }
}

// Subpage top image
.main__top_image {
  img {
    min-height: 300px;
    width: 100vw;
  }

  figcaption {
    font-size: small;
    font-style: italic;
  }
}


// Main content area
.main__body {
  margin-top:1.8rem;
}

.main_body__content_area {
  padding: 1rem 1rem 2rem 1rem;
  @include breakpoint(450px) {
      padding-right: 10%;
      padding-left: 10%;
    }
  @include breakpoint(medium) {
    padding-right: 15%;
    padding-left: 15%;
  }

  @include breakpoint(large) {
    padding-right: 20%;
    padding-left: 20%;
  }

  &#video_container {
    background: $success-color;
    text-align: center;
    z-index: 0;
    color: $white;
    h4 {
      padding-top: 1rem;
      display: block;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: $white;
      &:hover {
        color: $dark-black;
      }
    }
  }

}

// Individual subpage code
#courses {
  img {
    width: 40%;
  }
}
