// Side Slide Out on homepage
.side_slide_out__title {grid-area: title;}
.side_slide_out__list {grid-area: list;}

.side_slide_out {
  position: relative;

  display: grid;
  grid-template-columns: 230px 20px;
  @include breakpoint(medium) {
    grid-template-columns: 230px 40px;
  }
  grid-template-rows: auto;
  grid-template-areas:
    'list title';

  background: $white;
  width: 300px;
  margin-top: 1rem;
  padding: 1.65rem 1.5rem 1.5rem .75rem;

  border: 2px solid $dark-black;
  @include breakpoint(medium) {
    border-width: 5px;
  }
  border-left: 0;

  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;

  z-index: 10;

  &.open {
    left: 0;
  }
  &.closed {
    left: -277px;
    @include breakpoint(medium) {
      left: -257px;
    }
  }

  &__title {
    margin-top: -7.5rem;
    margin-left: 2.095rem;
      @include breakpoint(medium) {
        margin-left: 1rem;
      }
    & span {
      display: block;
      transform: rotate(90deg);
      white-space: nowrap;
      color: $primary-color;
      font-size: 21px;
        @include breakpoint(medium) {
          font-size: 23px;
        }

        &:hover {
          cursor: pointer;
          color: $dark-black;
          text-decoration: underline;
        }
        &.black {
          color: $dark-black;
        }
      }
    }





    &__list {
      ol {
        list-style-type: none;
        list-style-type: decimal;
        // IE 7- hack
        padding: 0;
        counter-reset: li-counter;

        margin-top: -.5rem;
        margin-bottom: -1rem;

        li {
          background-color: $success-color;//#c5c5c5;// $white;//$medium-gray;
          color: $white;
          position: relative;
          margin-bottom: 0.5rem;
          padding: 0 0.5rem;
          min-height: 1.7rem;
          font-size: 21px!important;
          width: 202px;

          p, h1, h2, h3, h4, h5, h6 {
            font-size: 21px!important;
          }

          &:before {
            position: absolute;
            top: -.5rem;
            left: -1.45rem;
            width: 1.75rem;
            height: 1.75rem;

            font-size: 1.25rem;
            line-height: 1.1;
            text-align: center;
            color: $white;

            border: 3px solid orange;// #c5c5c5;
            border-radius: 50%;
            background-color: $success-color;//#969696;
            content: counter(li-counter);
            counter-increment: li-counter;
        }

        }
      }
    }


}
