header {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr!important;
  grid-template-rows:1;
  height: 100vh;

  .header__bg img {
    //display: block;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    opacity: 0.8;
  }

  .header__logo {
    z-index: 2;
    margin-top: 25vh;
    margin-left: 20px;
    grid-column: 3 / 7;

    img {
      width: 100%;
    }
    //@media screen and (min-width: medium) {
      //width: 500px;
    //}

  }


}
