
// parallax
.parallax_content {
  position: fixed;
	z-index: 1;
	top:0;
	height: 100vh;
}

.parallax_covered {
	position: relative;
	z-index: 4;
	background: $white;
  margin-top: 33vh;

  @include breakpoint(mid-medium) {
    margin-top: 42vh;
  }
  @include breakpoint(landscape mid-medium) {
    margin-top: 80vh;
  }
  @include breakpoint(medium) {
	  margin-top: 100vh;
  }

  @include breakpoint(landscape large) {
    margin-top: 100vh;
  }
}


// Grid areas
nav { grid-area: nav; }
.main__container, .main__body { grid-area: main; }
footer { grid-area: footer; }

.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    'nav nav nav nav nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
}

// Typograghy
.main_body__content_area {
  h1 {
    margin-bottom: 1rem;
    @include breakpoint(medium) {
      margin-bottom: 2rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: .05rem;
  }


}
