
// parallax
.parallax_content {
  position: fixed;
	z-index: 1;
	top:0;
	height: 100vh;
}

.parallax_covered {
	position: relative;
	z-index: 4;
	background: $white;
	margin-top: 100vh;
}


head > title {
    text-transform: uppercase;
}
// Header
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr!important;
  grid-template-rows:1;
  position: fixed;
  top:0;
  width: 100%;

  .header__bg {
    position: fixed;
    top:0;
    z-index: 2;

      img {
      width: 100%;
      opacity: 0.5;

    }
  }

  .header__logo {
    margin-top: 10vh;
    grid-column: 1 / 9;
    img {
      z-index: 3;
      opacity: 1;
      width: 100%;
    }

  }

}


// Grid areas
nav { grid-area: nav; }
.main__container { grid-area: main; }
footer { grid-area: footer; }

.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    'nav nav nav nav nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
}


.main__top_image {
  margin-top: 125px;
  img {
    height: 300px;
    width: 100%;
  }
}
// Main content area
.main__body {
  margin-top:2rem;
  padding: 0rem 20% 2rem 20%;
}


// Footer
footer {
  padding: 3rem 20% 2rem 20%;
  font-style: italic;
  color: darken($primary-color, 3%);

  nav.footer__nav {
    position: relative;

    a {
      color: darken($primary-color, 3%);
    }

  }
}
