  <div class="main_body__content_area__gallery">
    <ul class="list__no_dots gallery__list">
      <li id="home_image_one" class="editable gallery__list__double_image"><img src="https://placeimg.com/800/300/nature/grayscale" alt="Image 1"></li>
      <li id="home_image_two" class="editable "><img src="https://placeimg.com/400/300/tech/sepia" alt="Image 2"></li>

      <li id="home_image_three" class="editable"><img src="https://placeimg.com/400/300/people/grayscale" alt="Image 3"></li>
      <li id="home_image_four" class="editable"><img src="https://placeimg.com/400/300/arch/sepia" alt="Image 4"></li>
      <li id="home_image_five" class="editable"><img src="https://placeimg.com/400/300/animals/grayscale" alt="Image 5"></li>


      <li id="home_image_six" class="editable"><img src="https://placeimg.com/400/300/animals/sepia" alt="Image 6"></li>
      <li id="home_image_seven" class="editable gallery__list__double_image"><img src="https://placeimg.com/800/300/nature/grayscale" alt="Image 7"></li>
  </ul>
</div>
