<div class="main_body__content_area__gallery">
  <ul class="list__no_dots gallery__list">
    <li id="home_image_one" class="editable gallery__list__double_image">
      <p><img src="/assets/img/MSkidMore_Harvest_HiView_800_450.jpg" alt="MSkidMore Harvest HiView"></p>
    </li>
    <li id="home_image_two" class="editable">
      <p><img src="/assets/img/Todd_McMahon_450_450‎.jpg" alt="Todd McMahon"></p>
    </li>
    <li id="home_image_three" class="editable">
      <p><img src="/assets/img/Bryce_Radke‎_2_450_450.jpg" alt="Bryce Radke‎"></p>
    </li>
    <li id="home_image_four" class="editable">
      <p><img src="/assets/img/BRadke_HiView_Basket_450_450.jpg"  alt="BRadke HiView Basket"></p>

    </li>
    <li id="home_image_five" class="editable">
      <p><img src="/assets/img/ALaRocca_ChillinwDogs_HiView_450_450.jpg" alt="ALaRocca ChillinwDogs HiView"></p>
    </li>
    <li id="home_image_six" class="editable">
      <p><img src="/assets/img/Dave_Ross_Bailey_puppy_basket_vert_dr_450_450.jpg" alt="Dave Ross Bailey puppy basket"></p>
    </li>
    <li id="home_image_seven" class="editable gallery__list__double_image">
      <p><img src="/assets/img/ALaRocca_PhantomFalls_People2_800_450.jpg" alt="ALaRocca PhantomFalls group"></p>
    </li>
  </ul>
</div>
