<footer id="footer">
    {{>footer-nav}}
    <div class="copyright">
        <p>Copyright&copy; Foothill Flyers Disc Golf Club. 2016&mdash;<span id="year"></span>, all rights reserved.</p>
    </div>
    <div class="footer__description">
        <p>Foothill Flyers Disc Golf Club (FFDGC) is dedicated to providing quality disc golf courses, events, instruction, and introduction of the great game of disc golf to the Colorado communities along the Highway 285 Corridor; Conifer, Bailey, Pine, and Evergreen.</p>
    </div>
</footer>
