<footer id="footer">

    <div class="footer__interior">
      {{>footer-nav}}
      <div class="footer__interior_fb">
          <a href="https://www.facebook.com/groups/106489269379617/" class="external"><i class="fa fa-facebook-official facebook_icon" aria-hidden="true"><span class="screen_reader_accessible" >Facebook Icon</span></i><br />Facebook Group</a>
      </div>
      <div class="footer__interior_description">
          <p>Foothill Flyers Disc Golf Club (FFDGC) is dedicated to providing quality disc golf courses, events, instruction, and introduction of the great game of disc golf to the Colorado communities along the Highway 285 Corridor; Conifer, Bailey, Pine, and Evergreen.</p>
          <p class="copyright">Copyright&copy; 2016&mdash;<span id="year"></span> Foothill Flyers Disc Golf Club. All rights reserved.</p>
      </div>

    </div>
</footer>
