<nav>
  <ul class="inline" id="main__nav_ul">
    <li>
      <a href="{{root}}/events.html">Events</a>
    </li>
    <li>
      <a href="{{root}}/tags.html">Tags</a>
    </li>
    <li class="nav__logo">
      <a href="{{root}}/index.html"><img src="{{root}}/assets/img/Foothill_Flyers_Disc_Golf_Logo.svg" alt="Foothill Flyers Disc Golf Club Logo"></a>
    </li>
    <li>
      <a href="{{root}}/courses.html">Courses</a>
    </li>
    <li>
      <a href="{{root}}/sponsors.html">Sponsors</a>
    </li>
  </ul>
</nav>
