<div class="side_slide_out closed">
  <button class="side_slide_out__title">
    <h5>Tags: Top 5 Standings</h5>
  </button>

  <div class="side_slide_out__list">
    <ol>
      <li id="list_one" class="editable">Name Name Name</li>
      <li id="list_two" class="editable">Name Name Name</li>
      <li id="list_three" class="editable">Name Name Name</li>
      <li id="list_four" class="editable">Name Name Name</li>
      <li id="list_five" class="editable">Name Name Name</li>
    </ol>
  </div>

</div>
