<aside class="side_slide_out closed">
  <button class="side_slide_out__title">
    <span>Tags: Top 5 Standings</span>
  </button>

  <div class="side_slide_out__list">
    <ol>
      <li id="list_one" class="editable"><p>Wes Yusim</p></li>
      <li id="list_two" class="editable"><p>???</p></li>
      <li id="list_three" class="editable"><p>Erik Wilson</p></li>
      <li id="list_four" class="editable"><p>Ethan Boyd</p></li>
      <li id="list_five" class="editable"><p>???</p></li>
    </ol>
  </div>

</aside>
