{{!-- This is the base layout for your project, and will be used on every INTERNAL page, except index/home. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Foothill Flyers Disc Golf Club - Colorado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj:400,400i,700,700i|Open+Sans+Condensed:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}/assets/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}/assets/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}/assets/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}/assets/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}/assets/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}/assets/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{root}}/assets/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{root}}/assets/img/fav/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Foothill Flyers Disc Golf Club"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://ffdgc.net/assets/img/fav/mstile-144x144.png" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144575262-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144575262-1');
    </script>
  </head>

  <body>

  <div class="grid_container main" id="pageTop">

        {{> nav}}

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        <div class="main__container">
              {{> body}}
        </div>
        {{> footer}}

  </div>

  <script src="{{root}}assets/js/app.js"></script>
  <script>
    var d = new Date();
    var n = d.getFullYear();
    document.getElementById("year").innerHTML = n;
  </script>
  </body>
</html>
