{{!-- This is the base layout the HOMEPAGE. Interior pages will use layout - default. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foothill Flyers Disc Golf Club - Pine, Colorado</title>
    <link href="https://fonts.googleapis.com/css?family=Taviraj:400,400i,700,700i|Yeseva+One&display=optional" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>

  <body id="home">


    <div class="parallax_content">
        {{> header}}
    </div>

    <div class="parallax_covered grid_container main" id="pageTop">

        {{> nav}}


        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        <div class="main__body">
          {{> body}}
        </div>

        {{> footer}}

    </div>

  <script src="{{root}}assets/js/app.js"></script>


  </body>
</html>
