{{!-- This is the base layout the HOMEPAGE. Interior pages will use layout - default. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foothill Flyers Disc Golf Club - Pine, Colorado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj:400,400i,700,700i|Open+Sans+Condensed:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144575262-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144575262-1');
    </script>
  </head>

  <body id="home">


    <div class="parallax_content">
        {{> header}}
    </div>

    <div class="parallax_covered grid_container main" id="pageTop">

        {{> nav}}


        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        <div class="main__body home_body">
          {{> body}}

        </div>

        {{> footer}}

    </div>

  <script src="{{root}}assets/js/app.js"></script>

  <script>
    var d = new Date();
    var n = d.getFullYear();
    document.getElementById("year").innerHTML = n;
  </script>

  </body>
</html>
